/* Enviro Plus Web v3.2.0 */
/* More info at: */
/* https://gitlab.com/idotj/enviroplusweb */

/* Variables */
:root {
  color-scheme: light dark;
  --color-white: #fff;
  --color-black: #14161b;
  --color-gray-lighter: #eee;
  --color-gray-light: #ccc;
  --color-gray: #999;
  --color-gray-dark: #505050;
  --color-gray-darker: #242424;
  --color-background: var(--color-gray-lighter);
  --color-btn-background: var(--color-white);
  --color-btn-border: var(--color-black);
  --color-text: var(--color-black);
  --color-header-border: var(--color-gray-light);
  --color-logo: #759600;
  --color-logo-contrast: var(--color-black);
  --color-menu-border: var(--color-gray-light);
  --color-graph-background: var(--color-white);
  --color-temp: #df2f34;
  --color-humi: #0177c0;
  --color-pres: #568211;
  --color-lux: #ca9710;
  --color-wind: #679bb5;
  --color-nh3: #7f7f00;
  --color-oxi: #771e9b;
  --color-reduc: #40826c;
  --color-noise-high: #cc5f0e;
  --color-noise-mid: #c43200;
  --color-noise-low: #763200;
  --color-noise-amp: #a07600;
  --color-pm-1: #8c796f;
  --color-pm-25: #715f54;
  --color-pm-10: #57473a;
}
:root[data-theme="light"] {
  color-scheme: light;
}
:root[data-theme="dark"] {
  color-scheme: dark;
  --color-background: var(--color-black);
  --color-btn-background: var(--color-black);
  --color-btn-border: var(--color-gray-dark);
  --color-text: var(--color-gray-light);
  --color-header-border: var(--color-gray-dark);
  --color-logo-contrast: var(--color-gray-light);
  --color-menu-border: var(--color-gray-darker);
  --color-graph-background: var(--color-gray-darker);
}

/* Color names */
.color-temp {
  color: var(--color-temp);
}
.color-humi {
  color: var(--color-humi);
}
.color-pres {
  color: var(--color-pres);
}
.color-lux {
  color: var(--color-lux);
}
.color-wind {
  color: var(--color-wind);
}
.color-noise-high {
  color: var(--color-noise-high);
}
.color-noise-mid {
  color: var(--color-noise-mid);
}
.color-noise-low {
  color: var(--color-noise-low);
}
.color-noise-amp {
  color: var(--color-noise-amp);
}
.color-nh3 {
  color: var(--color-nh3);
}
.color-oxi {
  color: var(--color-oxi);
}
.color-reduc {
  color: var(--color-reduc);
}
.color-pm-1 {
  color: var(--color-pm-1);
}
.color-pm-25 {
  color: var(--color-pm-25);
}
.color-pm-10 {
  color: var(--color-pm-10);
}

/* Global styles */
@font-face {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(""),
    url("../fonts/noto-sans/noto-sans-v25-latin/noto-sans-v25-latin-regular.woff2")
      format("woff2"),
    url("../fonts/noto-sans/noto-sans-v25-latin/noto-sans-v25-latin-regular.woff")
      format("woff"),
    url("../fonts/noto-sans/noto-sans-v25-latin/noto-sans-v25-latin-regular.ttf")
      format("truetype");
}
@font-face {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local(""),
    url("../fonts/noto-sans/noto-sans-v25-latin/noto-sans-v25-latin-700.woff2")
      format("woff2"),
    url("../fonts/noto-sans/noto-sans-v25-latin/noto-sans-v25-latin-700.woff")
      format("woff"),
    url("../fonts/noto-sans/noto-sans-v25-latin/noto-sans-v25-latin-700.ttf")
      format("truetype");
}

html,
body {
  height: 100%;
}
body {
  font-family: "Noto Sans", Arial, Helvetica, Sans-Serif;
  font-size: 16px; /* 1rem */
  color: var(--color-text);
  background: var(--color-background);
  margin: 0;
  transition: background-color 500ms linear;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  transition: background-color 500ms linear;
}
/* Only for webkit */
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  select {
    padding-right: 0.5rem;
  }
}
input[type="number"] {
  width: 3.25rem;
}
button,
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 2rem;
  min-height: 2.25rem;
}
select,
input,
button,
.button {
  color: var(--color-text);
  background-color: var(--color-btn-background);
  padding: 0.25rem;
  border: 2px solid var(--color-btn-border);
  border-radius: 0.25rem;
  cursor: pointer;
  transition: background-color 500ms linear;
}

/* Header */
.header {
  display: flex;
  width: 100%;
  height: 3rem;
  position: sticky;
  top: 0;
  background-color: var(--color-btn-background);
  border-bottom: 1px solid var(--color-header-border);
  z-index: 1;
  transition: background-color 500ms linear, border-color 500ms linear;
}
.header-logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin: 0 auto 0 1rem;
  border: none !important;
}
.header-title {
  font-size: 1.75rem;
  font-weight: 800;
  margin: 0.5rem 1rem 0.5rem 0;
  background: linear-gradient(
    160deg,
    var(--color-logo),
    var(--color-logo-contrast)
  );
  background-size: 200% 200%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: logo-gradient-animation 15s ease infinite;
  will-change: background-position;
}
@keyframes logo-gradient-animation {
  0%,
  100% {
    background-position: 0% 42%;
  }
  50% {
    background-position: 100% 59%;
  }
}
.header-time {
  display: flex;
  align-items: center;
}
.header-theme .theme-btn-content {
  display: flex;
  align-items: center;
}
.header-menu-settings {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 0 0 2rem;
}
.header-menu-settings > div:not(:only-child) {
  padding: 0 2rem;
  display: flex;
  align-items: center;
  border-left: 1px solid var(--color-header-border);
  transition: border-color 500ms linear;
}
.header-menu-error {
  display: flex;
  align-items: center;
}
.header-icon {
  width: 1.75rem;
  max-height: 1.75rem;
  margin-right: 1rem;
}
.button-icon-svg {
  max-width: 1.25rem;
  max-height: 1.25rem;
  width: 100%;
  height: auto;
  stroke-width: 0.02rem;
}
.button-icon-svg + span {
  margin: 0 0.25rem 0 0.5rem;
}
html[data-theme="light"] #iconColorThemeLight,
html[data-theme="dark"] #iconColorThemeDark {
  display: none;
}

/* Header - Mobile version */
@media screen and (min-width: 1560px) {
  .header-menu-hamburger {
    display: none;
  }
}
.menu-hamburger {
  width: 2.25rem;
  height: 2.25rem;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  padding: 0;
  margin-left: auto;
  position: relative;
  z-index: 1;
  min-width: auto;
  stroke: var(--color-logo-contrast);
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}
.menu-hamburger.btn-active {
  transform: rotate(180deg);
}
.menu-main-hamburger {
  fill: none;
  stroke-width: 6;
}
.menu-line1 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.menu-line2 {
  stroke-dasharray: 60 60;
  stroke-width: 6;
}
.menu-line3 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.btn-active .menu-line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}
.btn-active .menu-line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 6;
}
.btn-active .menu-line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}

@media screen and (max-width: 580px) {
  .header-time {
    display: none;
  }
}

@media screen and (max-width: 1559px) {
  .header-title {
    font-size: 1.5rem;
  }
  .header-menu-hamburger {
    margin: auto 1rem auto 2rem;
    z-index: 2;
  }
  .header-menu-settings {
    width: 0;
    height: 0;
    position: fixed;
    top: 0;
    right: 0;
    visibility: hidden;
    opacity: 0;
    padding: 4rem 2rem 0 2rem;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .header-menu-settings.menu-settings-open {
    width: 66%;
    max-width: 14rem;
    height: 100%;
    visibility: visible;
    opacity: 1;
    overflow-y: auto;
    border-left: 1px solid var(--color-menu-border);
    background: var(--color-btn-background);
  }
  .header-menu-settings > div {
    padding: 0;
    width: 100%;
    border-left: none !important;
    margin-bottom: 3rem;
  }
  .header-menu-settings > div:last-child {
    margin-bottom: 4rem;
  }
}

/* Graph container */
.graphs-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "temp humi"
    "pres lux"
    "windDir windSp"
    "noise noise"
    "gas gas"
    "pm pm"
    ". .";
  height: calc(100% - 6.5rem);
  margin: 2.5rem 2rem 0 2rem;
  gap: 4rem;
}
@media screen and (max-width: 640px) {
  .graphs-container {
    grid-template-columns: 1fr;
    grid-template-areas:
      "temp"
      "humi"
      "pres"
      "lux"
      "windDir"
      "windSp"
      "noise"
      "gas"
      "pm"
      ".";
    gap: 3rem;
  }
}

/* Graphs */
.graph-temp {
  grid-area: temp;
}
.graph-humi {
  grid-area: humi;
}
.graph-pres {
  grid-area: pres;
}
.graph-lux {
  grid-area: lux;
}
.graph-wind-direction {
  grid-area: windDir;
}
.graph-wind-speed {
  grid-area: windSp;
}
.graph-noise {
  grid-area: noise;
}
.graph-gas {
  grid-area: gas;
}
.graph-pm {
  grid-area: pm;
}
.graph-container {
  width: 100%;
  background-color: var(--color-graph-background);
  border-radius: 0.25rem;
  transition: background-color 500ms linear;
}
.graph-header {
  display: flex;
  flex-flow: wrap;
  align-items: center;
  border-bottom: 2px solid var(--color-background);
  font-size: 1.3rem;
  padding: 1.25rem 0.75rem 1rem 0.75rem;
  margin-bottom: 1rem;
  gap: 1rem;
  transition: border-color 500ms linear;
  container: graph-header / inline-size;
}
.graph-header h2 {
  text-align: left;
  font-size: inherit;
  margin: 0;
}
.graph-header-readings {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}
.graph-header-extra {
  font-size: 0.75rem;
  margin: auto 0 0 auto;
}
@media screen and (max-width: 640px) {
  .graph-header {
    font-size: 1rem;
    gap: 0.75rem;
  }
  .graph-header-readings {
    gap: 1rem;
  }
}
@container graph-header (max-width: 480px) {
  .graph-header-extra {
    display: none;
  }
}

.graph-body {
  position: relative;
  padding: 0 0.75rem 1.25rem 0.75rem;
}
.graph-body > canvas {
  width: 100%;
  display: block;
}

.graph-wind-direction .graph-body {
  display: flex;
  height: calc(100% - 6.5rem);
  min-height: 20rem;
  align-items: center;
  justify-content: center;
}

.wind-direction-arrow {
  display: flex;
  width: auto;
  height: 8rem;
  z-index: 2;
  transition: transform 1s ease-in-out;
}
.wind-direction-arrow > svg {
  fill: var(--color-text);
}
.wind-direction-points {
  width: auto;
  height: 100%;
  aspect-ratio: 1/1;
  color: var(--color-text);
  font-size: 1rem;
  text-align: center;
  line-height: 1.9rem;
  position: absolute;
}
.wind-direction-points > div {
  position: absolute;
  z-index: 1;
  background: var(--color-background);
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
}
.wind-direction-north {
  top: 0;
  right: 50%;
  transform: translateX(50%);
}
.wind-direction-east {
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
.wind-direction-south {
  bottom: 0;
  right: 50%;
  transform: translateX(50%);
}
.wind-direction-west {
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.wind-direction-compass {
  width: calc(100% - 2rem);
  height: calc(100% - 2rem);
  position: absolute;
}
.wind-direction-compass > svg {
  width: 100%;
  height: 100%;
  fill: var(--color-background);
}

.loading-spinner {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 128 128'%3E%3Cg%3E%3CanimateTransform attributeName='transform' type='rotate' from='0 64 64' to='360 64 64' dur='1000ms' repeatCount='indefinite'/%3E%3Cpath d='M64 6.69a57.3 57.3 0 1 1 0 114.61A57.3 57.3 0 0 1 6.69 64' fill='none' stroke='%23404040' stroke-width='12'/%3E%3C/g%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center center;
  background-color: transparent;
  background-size: min(2.5rem, calc(100% - 0.5rem));
}

/* a11y */
.visually-hidden:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* Error page */
.error-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20vh 2rem;
}
