<!DOCTYPE html>
<html lang="{{ i18n.languageCode }}" dir="{{ i18n.languageDir }}">
  <head>
    <meta charset="utf-8" />
    <title>Enviro Plus Web</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <meta name="keywords" content="Enviro, Enviro+, EnviroPlus, RaspberryPi" />
    <meta
      name="description"
      content="Web interface for Enviro and Enviro+ sensor board plugged into a Raspberry Pi"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="{{ url_for('static', filename='img/apple-touch-icon.png') }}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="{{ url_for('static', filename='img/favicon-32x32.png') }}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="{{ url_for('static', filename='img/favicon-16x16.png') }}"
    />
    <link
      rel="manifest"
      href="{{ url_for('static', filename='site.webmanifest') }}"
    />
    <link
      rel="mask-icon"
      href="{{ url_for('static', filename='img/safari-pinned-tab.svg') }}"
      color="#b0b0b0"
    />
    <meta name="theme-color" content="#b0b0b0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/main.css') }}"
      media="all"
    />
    <script src="{{ url_for('static', filename='js/init.js') }}"></script>
  </head>

  <body
    data-gas-sensor="{{ gas_sensor }}"
    data-particulate-sensor="{{ particulate_sensor }}"
    data-fan-gpio="{{ fan_gpio }}"
    data-system-units="{{ system_units }}"
    data-openweather="{{ openweather }}"
  >
    <!-- Header -->
    <header class="header">
      <!-- Logo / Title -->
      <button
        id="logoReloadPage"
        class="header-logo"
        aria-details="Reload the page"
      >
        <img
          src="{{ url_for('static', filename='img/enviroplusweb_logo.svg') }}"
          width="32"
          height="32"
          alt="Enviro Plus Web logo"
        />
        <h1 class="header-title">Enviro Plus Web</h1>
      </button>

      <!-- Local time -->
      <div class="header-time"><span id="time"></span></div>

      <!-- Mobile menu -->
      <div class="header-menu-hamburger">
        <button
          type="button"
          id="menuHamburger"
          class="menu-hamburger"
          title="{{ i18n.menuBtn.title }}"
        >
          <svg width="100%" height="100%" viewBox="0 0 100 100">
            <path
              class="menu-main-hamburger menu-line1"
              d="M 20,29.000046 H 80.000231 C 80.000231,29.000046 94.498839,28.817352 94.532987,66.711331 94.543142,77.980673 90.966081,81.670246 85.259173,81.668997 79.552261,81.667751 75.000211,74.999942 75.000211,74.999942 L 25.000021,25.000058"
            />
            <path class="menu-main-hamburger menu-line2" d="M 20,50 H 80" />
            <path
              class="menu-main-hamburger menu-line3"
              d="M 20,70.999954 H 80.000231 C 80.000231,70.999954 94.498839,71.182648 94.532987,33.288669 94.543142,22.019327 90.966081,18.329754 85.259173,18.331003 79.552261,18.332249 75.000211,25.000058 75.000211,25.000058 L 25.000021,74.999942"
            />
          </svg>
        </button>
      </div>

      <div id="headerMenuSettings" class="header-menu-settings">
        <!-- Time range dropdown -->
        <div class="header-timeRange">
          <span class="header-icon" title="{{ i18n.timeRange.title }}">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 16 16"
              fill="currentColor"
              aria-hidden="true"
              focusable="false"
            >
              <path
                d="M11 6.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zm-3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zm-5 3a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zm3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5z"
              />
              <path
                d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5M1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4z"
              />
            </svg>
          </span>
          <label for="graphSelector" class="visually-hidden"
            >{{ i18n.timeRange.title }}</label
          >
          <select id="graphSelector" title="{{ i18n.timeRange.title }}">
            <option value="day" selected>{{ i18n.timeRange.day }}</option>
            <option value="week">{{ i18n.timeRange.week }}</option>
            <option value="month">{{ i18n.timeRange.month }}</option>
            <option value="year">{{ i18n.timeRange.year }}</option>
          </select>
        </div>

        {% if fan_gpio %}
        <!-- Fan speed -->
        <div class="header-fanGpio">
          <span class="header-icon" title="{{ i18n.fanTitle }}">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 16 16"
              fill="currentColor"
              aria-hidden="true"
              focusable="false"
            >
              <path
                d="M10 3c0 1.313-.304 2.508-.8 3.4a2 2 0 0 0-1.484-.38c-.28-.982-.91-2.04-1.838-2.969a8 8 0 0 0-.491-.454A6 6 0 0 1 8 2c.691 0 1.355.117 1.973.332Q10 2.661 10 3m0 5q0 .11-.012.217c1.018-.019 2.2-.353 3.331-1.006a8 8 0 0 0 .57-.361 6 6 0 0 0-2.53-3.823 9 9 0 0 1-.145.64c-.34 1.269-.944 2.346-1.656 3.079.277.343.442.78.442 1.254m-.137.728a2 2 0 0 1-1.07 1.109c.525.87 1.405 1.725 2.535 2.377q.3.174.605.317a6 6 0 0 0 2.053-4.111q-.311.11-.641.199c-1.264.339-2.493.356-3.482.11ZM8 10c-.45 0-.866-.149-1.2-.4-.494.89-.796 2.082-.796 3.391q0 .346.027.678A6 6 0 0 0 8 14c.94 0 1.83-.216 2.623-.602a8 8 0 0 1-.497-.458c-.925-.926-1.555-1.981-1.836-2.96Q8.149 10 8 10M6 8q0-.12.014-.239c-1.02.017-2.205.351-3.34 1.007a8 8 0 0 0-.568.359 6 6 0 0 0 2.525 3.839 8 8 0 0 1 .148-.653c.34-1.267.94-2.342 1.65-3.075A2 2 0 0 1 6 8m-3.347-.632c1.267-.34 2.498-.355 3.488-.107.196-.494.583-.89 1.07-1.1-.524-.874-1.406-1.733-2.541-2.388a8 8 0 0 0-.594-.312 6 6 0 0 0-2.06 4.106q.309-.11.637-.199M8 9a1 1 0 1 0 0-2 1 1 0 0 0 0 2"
              />
              <path
                d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"
              />
            </svg>
          </span>
          <label for="fan" class="visually-hidden">{{ i18n.fanTitle }}</label>
          <input
            id="fan"
            type="number"
            min="0"
            max="100"
            step="5"
            value="100"
            name="fan"
            title="{{ i18n.fanTitle }}"
          />
        </div>
        {% endif %}

        <!-- Language dropdown -->
        <div class="header-language">
          <span class="header-icon" title="{{ i18n.language.title }}">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 16 16"
              fill="currentColor"
              aria-hidden="true"
              focusable="false"
            >
              <path
                d="M4.545 6.714 4.11 8H3l1.862-5h1.284L8 8H6.833l-.435-1.286zm1.634-.736L5.5 3.956h-.049l-.679 2.022z"
              />
              <path
                d="M0 2a2 2 0 0 1 2-2h7a2 2 0 0 1 2 2v3h3a2 2 0 0 1 2 2v7a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2v-3H2a2 2 0 0 1-2-2zm2-1a1 1 0 0 0-1 1v7a1 1 0 0 0 1 1h7a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zm7.138 9.995q.289.451.63.846c-.748.575-1.673 1.001-2.768 1.292.178.217.451.635.555.867 1.125-.359 2.08-.844 2.886-1.494.777.665 1.739 1.165 2.93 1.472.133-.254.414-.673.629-.89-1.125-.253-2.057-.694-2.82-1.284.681-.747 1.222-1.651 1.621-2.757H14V8h-3v1.047h.765c-.318.844-.74 1.546-1.272 2.13a6 6 0 0 1-.415-.492 2 2 0 0 1-.94.31"
              />
            </svg>
          </span>
          <label for="languageSelector" class="visually-hidden"
            >{{ i18n.language.title }}</label
          >
          <select id="languageSelector" title="{{ i18n.language.title }}">
            <option value="ca">{{ i18n.language.catalan }}</option>
            <option value="nl">{{ i18n.language.dutch }}</option>
            <option value="en">{{ i18n.language.english }}</option>
            <option value="fr">{{ i18n.language.french }}</option>
            <option value="de">{{ i18n.language.german }}</option>
            <option value="es">{{ i18n.language.spanish }}</option>
          </select>
        </div>

        <!-- Color Theme -->
        <div class="header-theme">
          <button type="button" id="btnColorTheme">
            <span id="iconColorThemeDark" class="theme-btn-content">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 16 16"
                fill="currentColor"
                class="button-icon-svg"
              >
                <path
                  d="M6 .278a.77.77 0 0 1 .08.858 7.2 7.2 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277q.792-.001 1.533-.16a.79.79 0 0 1 .81.316.73.73 0 0 1-.031.893A8.35 8.35 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.75.75 0 0 1 6 .278M4.858 1.311A7.27 7.27 0 0 0 1.025 7.71c0 4.02 3.279 7.276 7.319 7.276a7.32 7.32 0 0 0 5.205-2.162q-.506.063-1.029.063c-4.61 0-8.343-3.714-8.343-8.29 0-1.167.242-2.278.681-3.286"
                />
              </svg>
              <span>{{ i18n.switchThemeBtn.titleDark }}</span>
            </span>
            <span id="iconColorThemeLight" class="theme-btn-content">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 16 16"
                class="button-icon-svg"
                fill="currentColor"
              >
                <path
                  d="M8 11a3 3 0 1 1 0-6 3 3 0 0 1 0 6m0 1a4 4 0 1 0 0-8 4 4 0 0 0 0 8M8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0m0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13m8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5M3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8m10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0m-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0m9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707M4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708"
                />
              </svg>
              <span>{{ i18n.switchThemeBtn.titleLight }}</span>
            </span>
          </button>
        </div>

        <!-- Gitlab repository -->
        <div class="header-gitlab">
          <a
            href="https://gitlab.com/idotj/enviroplusweb"
            target="_blank"
            class="header-icon"
            rel="noopener noreferrer"
            title="{{ i18n.gitlabBtn.title }}"
          >
            <svg
              width="32"
              height="32"
              viewBox="0 0 32 32"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
              class=""
            >
              <title>{{ i18n.gitlabBtn.title }}</title>
              <path
                d="M31.4618 12.7787L31.417 12.6641L27.0667 1.31308C26.9783 1.09046 26.8218 0.90145 26.6197 0.773028C26.416 0.644476 26.1775 0.582308 25.937 0.595107C25.6965 0.607906 25.4659 0.695039 25.277 0.844481C25.0899 0.994513 24.955 1.1998 24.8915 1.43106L21.9503 10.4324H10.0509L7.10976 1.43106C7.04625 1.1998 6.91133 0.994513 6.72425 0.844481C6.53618 0.694035 6.30572 0.606246 6.06523 0.593431C5.82473 0.580616 5.58625 0.64342 5.38326 0.773028C5.18023 0.900924 5.02312 1.09005 4.9346 1.31308L0.579314 12.679L0.534448 12.792C-0.0907536 14.429 -0.167604 16.2247 0.315452 17.9091C0.798508 19.5935 1.81536 21.0756 3.21309 22.1324L3.22971 22.144L3.26793 22.1739L9.90306 27.1407L13.1832 29.625L15.1773 31.1354C15.4115 31.3124 15.6971 31.4082 15.9907 31.4082C16.2842 31.4082 16.5698 31.3124 16.8041 31.1354L18.7981 29.625L22.0799 27.1407L28.7533 22.144L28.7715 22.1307C30.174 21.0749 31.1949 19.5916 31.6802 17.9045C32.1656 16.2175 32.0889 14.4184 31.4618 12.7787Z"
                fill="#E24329"
              ></path>
              <path
                d="M31.462 12.7787L31.4172 12.6641C29.2955 13.1013 27.2962 14.0005 25.5614 15.2978L16.0083 22.5378C19.2652 25.0005 22.1001 27.1407 22.1001 27.1407L28.7734 22.144L28.7917 22.1307C30.1907 21.0723 31.2076 19.5877 31.6893 17.9009C32.171 16.214 32.0912 14.4163 31.462 12.7787Z"
                fill="#FC6D26"
              ></path>
              <path
                d="M9.9082 27.1407L13.1834 29.625L15.1774 31.1354C15.4117 31.3124 15.6972 31.4082 15.9908 31.4082C16.2844 31.4082 16.57 31.3124 16.8042 31.1354L18.7982 29.625L22.0801 27.1407C22.0801 27.1407 19.2452 25.0005 15.9883 22.5378L9.9082 27.1407Z"
                fill="#FCA326"
              ></path>
              <path
                d="M6.43513 15.3045C4.70076 14.0067 2.70123 13.108 0.579333 12.6724L0.534467 12.7854C-0.0923403 14.4232 -0.170036 16.2203 0.313079 17.9061C0.796194 19.5919 1.81396 21.0751 3.21311 22.1324L3.22973 22.144L3.26795 22.1739L9.90307 27.1407L16.0081 22.5378L6.43513 15.3045Z"
                fill="#FC6D26"
              ></path>
            </svg>
          </a>
        </div>
      </div>
    </header>

    <!-- Main content -->
    <main class="main">
      <div class="graphs-container">
        <!-- Temperature -->
        <div class="graph-container graph-temp">
          <div class="graph-header">
            <h2 class="color-temp">▣ {{ i18n.temperature }}:</h2>
            <div class="graph-header-readings">
              <div><span id="temp">-</span> <span id="tempUnits"></span></div>
            </div>
          </div>
          <div class="graph-body">
            <canvas id="graphChartTemp" class="loading-spinner"></canvas>
          </div>
        </div>

        <!-- Humidity -->
        <div class="graph-container graph-humi">
          <div class="graph-header">
            <h2 class="color-humi">▣ {{ i18n.humidity }}:</h2>
            <div class="graph-header-readings">
              <div><span id="humi">-</span>%</div>
            </div>
          </div>
          <div class="graph-body">
            <canvas id="graphChartHumi" class="loading-spinner"></canvas>
          </div>
        </div>

        <!-- Pressure -->
        <div class="graph-container graph-pres">
          <div class="graph-header">
            <h2 class="color-pres">▣ {{ i18n.pressure }}:</h2>
            <div class="graph-header-readings">
              <div><span id="pres">-</span>&nbsp;hPa</div>
            </div>
          </div>
          <div class="graph-body">
            <canvas id="graphChartPres" class="loading-spinner"></canvas>
          </div>
        </div>

        <!-- Light -->
        <div class="graph-container graph-lux">
          <div class="graph-header">
            <h2 class="color-lux">▣ {{ i18n.light }}:</h2>
            <div class="graph-header-readings">
              <div><span id="lux">-</span>&nbsp;lux</div>
            </div>
          </div>
          <div class="graph-body">
            <canvas id="graphChartLux" class="loading-spinner"></canvas>
          </div>
        </div>

        {% if openweather %}
        <!-- Wind direction -->
        <div class="graph-container graph-wind-direction">
          <div class="graph-header">
            <h2 class="color-wind">{{ i18n.wind.direction }}:</h2>
            <div class="graph-header-readings">
              <div><span id="windDir">-</span>&nbsp;°</div>
            </div>
            <div class="graph-header-extra">from OpenWeather</div>
          </div>
          <div class="graph-body">
            <div id="windDirectionArrow" class="wind-direction-arrow">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 65 95">
                <path
                  d="M55.477 4.289c-1.204.165-2.373.703-3.305 1.672L34.914 24.197l-2.006 1.883s-.573.346-.541.346-.113.004-.582-.352-1.165-1.003-2.107-1.896C26.095 20.782 15.654 9.013 12.894 5.99c-1.851-2.028-4.719-2.136-6.799-1.016s-3.592 3.608-2.975 6.418c.155.704.576 2.179 1.252 4.492l2.668 8.957 7.795 25.541 7.996 25.725 4.531 13.975c.556 1.449 1.206 2.602 2.023 3.467s1.889 1.458 3.053 1.451 2.22-.6 3.049-1.455 1.508-1.995 2.102-3.424c.668-1.606 2.285-6.695 4.547-13.937l7.885-25.643 11.76-39.059c.84-2.947-.658-5.571-2.795-6.623-1.069-.526-2.306-.735-3.51-.57zM9.17 7.26c.541.051 1.058.294 1.492.77 2.679 2.935 12.968 14.582 16.936 18.342.945.895 1.661 1.583 2.361 2.113s1.483.973 2.43.967 1.723-.466 2.398-1.002 1.354-1.218 2.248-2.098c3.694-3.637 14.646-15.517 17.316-18.295.867-.902 2.253-1 3.301-.484s1.719 1.34 1.223 3.082L47.129 49.662l-7.877 25.619-4.453 13.68c-.493 1.187-1.032 2.016-1.48 2.479s-.731.536-.896.537-.414-.057-.838-.506-.939-1.273-1.398-2.471c-.43-1.121-2.182-6.537-4.469-13.801l-7.992-25.707-7.787-25.523-2.662-8.932-1.201-4.293c-.33-1.502.387-2.534 1.455-3.109.534-.288 1.1-.426 1.641-.375z"
                />
              </svg>
            </div>
            <div class="wind-direction-points">
              <div class="wind-direction-north">{{ i18n.wind.north }}</div>
              <div class="wind-direction-east">{{ i18n.wind.east }}</div>
              <div class="wind-direction-south">{{ i18n.wind.south }}</div>
              <div class="wind-direction-west">{{ i18n.wind.west }}</div>
            </div>
            <div class="wind-direction-compass">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 55 55">
                <path
                  d="M27.828 10.209a24.21 24.21 0 0 0-.713.001l-.071.001-.055-9.91.056-.001h.007l.822-.001zm-6.922-5.587l-.941-3.268.861-.232.83 3.298-.75.203m13.069-.034l-.753-.199.815-3.302.86.228zM15.217 7.106l-1.758-2.911.769-.447 1.66 2.968-.671.39m24.463-.06l-.676-.389 1.646-2.975.773.444zM6.666 15.979L3.691 14.33l.446-.774 2.917 1.748-.388.674m41.611-.106l-.393-.674 2.911-1.758.446.765zM4.392 21.758l-3.3-.818.228-.862 3.272.928-.2.751m46.184-.121l-.203-.75 3.267-.944.233.86zM8.088 27.934l-7.789.055-.001-.047v-.839l7.789.048v.736zm46.613.015l-7.912-.052v-.781l-.002-.095 7.912-.055.002.072.001.91M1.346 35.013l-.231-.861 3.298-.828.202.75zm52.32-.039l-3.27-.933.201-.751 3.3.824-.231.861M4.181 41.521l-.445-.766 2.967-1.662.391.674zm46.656-.03l-2.914-1.753.389-.674 2.972 1.653-.447.773m-36.531 9.808l-.773-.446 1.75-2.916.674.389zm26.423-.019l-1.655-2.97.672-.389 1.752 2.914-.769.445m-19.815 2.624l-.862-.23.933-3.27.75.2zm13.212-.011l-.825-3.299.752-.201.933 3.27-.86.23m-6.162.81h-.024-.864l.052-9.943h.757z"
                />
                <path
                  d="M8.816 12.751l-.433.567-.042.057-2.731-2.026.033-.045.004-.005.499-.653zm-3.482 6.053l-3.166-1.243.34-.824 3.122 1.349-.296.718m7.929-10.389l-.616.476-2.123-2.657.704-.544zM3.841 24.83l-3.379-.377.113-.882 3.365.49-.099.769M18.686 5.386l-.72.3-1.358-3.117.823-.343zM3.96 31.043l-3.363.504-.118-.88 3.378-.397.103.773M24.711 3.861l-.772.104L23.43.603l.881-.119zM5.674 37.015l-3.119 1.356-.342-.825 3.163-1.25.298.718M30.922 3.94l-.774-.098.377-3.38.879.112zM8.875 42.337l-2.658 2.121-.545-.706L8.4 41.721l.474.616m28.02-36.714l-.719-.296 1.24-3.166.824.339zM13.353 46.648l-2.026 2.731-.038-.028-.666-.51 2.108-2.668.584.448zM44.415 6.195l-2.111 2.666-.619-.475-.076-.056 2.026-2.731.058.043.723.554m-26.88 46.628l-.823-.341 1.351-3.12.718.297zm31.82-41.531l-2.731 2.026-.474-.617 2.662-2.116.543.707M24.425 54.537l-.879-.113.488-3.366.773.1zm28.38-37.033l-3.164 1.244-.298-.719 3.121-1.351.341.826M31.52 54.409l-.881.117-.394-3.378.773-.103zm23.007-30.021l-3.379.39-.101-.771 3.363-.502.117.883m-16.18 28.069l-.825.342-1.248-3.164.719-.298zm16.07-20.974l-3.364-.495.1-.77 3.379.384-.115.881m-9.981 17.318l-.707.544-2.026-2.731.615-.473zm8.035-10.488l-3.12-1.353.298-.719 3.162 1.25-.341.823m-3.109 5.381l-.014.019-.526.686-2.666-2.111.461-.601z"
                />
                <path
                  d="M41.482 13.907l-.506-.502-.051-.049 5.383-5.478.04.039.005.005.583.579zm-28.231.068L7.859 8.677l.033-.034.591-.595 5.32 5.371-.519.522zm33.198 33.048l-5.404-5.461.55-.553.065-.069 5.479 5.385-.049.053-.642.646m-37.824.103l-.017-.017-.613-.609 5.483-5.426.537.534z"
                />
              </svg>
            </div>
          </div>
        </div>

        <!-- Wind speed -->
        <div class="graph-container graph-wind-speed">
          <div class="graph-header">
            <h2 class="color-wind">▣ {{ i18n.wind.speed }}:</h2>
            <div class="graph-header-readings">
              <div><span id="windSp">-</span> <span id="windUnits"></span></div>
            </div>
            <div class="graph-header-extra">from OpenWeather</div>
          </div>
          <div class="graph-body">
            <canvas id="graphChartWind" class="loading-spinner"></canvas>
          </div>
        </div>
        {% endif %}

        <!-- Noise -->
        <div class="graph-container graph-noise">
          <div class="graph-header">
            <h2>{{ i18n.noise }}:</h2>
            <div class="graph-header-readings">
              <div>
                <span class="color-noise-high">▣ High</span>
                <span id="high">-</span>&nbsp;u
              </div>
              <div>
                <span class="color-noise-mid">▣ Mid</span>
                <span id="mid">-</span>&nbsp;u
              </div>
              <div>
                <span class="color-noise-low">▣ Low</span>
                <span id="low">-</span>&nbsp;u
              </div>
              <div>
                <span class="color-noise-amp">▣ Amp</span>
                <span id="amp">-</span>&nbsp;u
              </div>
            </div>
          </div>

          <div class="graph-body">
            <canvas id="graphChartNoise" class="loading-spinner"></canvas>
          </div>
        </div>

        {% if gas_sensor %}
        <!-- Gas -->
        <div class="graph-container graph-gas">
          <div class="graph-header">
            <h2>{{ i18n.gas }}:</h2>
            <div class="graph-header-readings">
              <div>
                <span class="color-nh3">▣ NH<sub>3</sub></span>
                <span id="nh3">-</span>&nbsp;kΩ
              </div>
              <div>
                <span class="color-reduc">▣ Reducing</span>
                <span id="red">-</span>&nbsp;kΩ
              </div>
              <div>
                <span class="color-oxi">▣ Oxidising</span>
                <span id="oxi">-</span>&nbsp;kΩ
              </div>
            </div>
          </div>

          <div class="graph-body">
            <canvas id="graphChartGas" class="loading-spinner"></canvas>
          </div>
        </div>
        {% endif %} {% if particulate_sensor %}
        <!-- Particulate matter -->
        <div class="graph-container graph-pm">
          <div class="graph-header">
            <h2>{{ i18n.particulateMatter }}:</h2>
            <div class="graph-header-readings">
              <div>
                <span class="color-pm-1">▣ PM<sub>1</sub></span>
                <span id="pm1">-</span>μg/m<sup>3</sup>
              </div>
              <div>
                <span class="color-pm-25">▣ PM<sub>2.5</sub></span>
                <span id="pm25">-</span>μg/m<sup>3</sup>
              </div>
              <div>
                <span class="color-pm-10">▣ PM<sub>10</sub></span>
                <span id="pm10">-</span>μg/m<sup>3</sup>
              </div>
            </div>
          </div>

          <div class="graph-body">
            <canvas id="graphChartPm" class="loading-spinner"></canvas>
          </div>
        </div>
        {% endif %}
      </div>
    </main>

    <!-- Javascript -->
    <script
      src="{{ url_for('static', filename='js/chart.min.js') }}"
      defer
    ></script>
    <script
      src="{{ url_for('static', filename='js/chartjs-adapter-date-fns.bundle.min.js') }}"
      defer
    ></script>
    <script src="{{ url_for('static', filename='js/main.js') }}" defer></script>
  </body>
</html>
